{% extends 'dashboard/base.html' %}
{% block content %}
    <h2 class="display-3">{{ building.street_address_1 }}, {{ building.borough }}</h2>
    <h4 class="text-muted">How do you compare to buildings of similar sizes?</h4>
    <hr class="my-4">

    <div class="container-fluid" id="graphs">
        <div class="row">
            <div class="col-md-6">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-6">
                <p>Pie Chart of Leed Certification</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Electricity Use Graphs</p>
            </div>
            <div class="col-md-6">
                <p>Electricity Intensity Graphs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Energy Star Score Graph</p>
            </div>
            <div class="col-md-6">
                <p>Water Use Graphs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Carbon Emissions Graphs</p>
            </div>
            <div class="col-md-6">
                <p>Carbon Emissions Intensity Graphs</p>
            </div>
        </div>
    </div>


    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock content %}