{% extends 'dashboard/base.html' %}
{% block content %}
    <h1 class="display-1">Oops!</h1>
    <h3 class="text-muted">We're sorry, this building isn't available</h3>
    <hr class="my-4">
    <h5 class="display-5">The NYC Open Dataset our site implements mandates that all buildings above 10,000 square feet report certain information.
        If your building is not here, it is most likely under 10,000 square feet or the property owner has not reported the relevant information.</h5>
{% endblock content %}