{% extends 'dashboard/base.html' %}

{% block content %}

    <h1 class="display-3">{{ building.street_address_1 }}, {{ borough }}</h1>
    <hr class="my-4">

    <div class="row">
        <div class="col-md-6">

            <h6 class="display-6">Quick Facts:</h6>
            <ul class="list-group">
                <li class="list-group list-group-item">Square Footage: {{ building.gfa|floatformat:"0g" }} ft. squared
                </li>
                <li class="list-group list-group-item">Year Built: {{ building.year_built }}</li>

                {% if building.energy_star_score != False %}
                    <li class="list-group list-group-item">EnergyStar Score (Out of
                        100): {{ building.energy_star_score }}</li>
                {% else %}
                    <li class="list-group list-group-item">EnergyStar Score (Out of 100): Unavailable</li>
                {% endif %}
                {% if building.total_ghg_emissions != False %}
                    <li class="list-group list-group-item">Carbon Emissions: {{ building.total_ghg_emissions }} Metric
                        Tons of CO2
                    </li>
                {% else %}
                    <li class="list-group list-group-item">Carbon Emissions: Unavailable</li>
                {% endif %}
            </ul>

            <p class="text-muted">*using publicly available data from <a
                    href="https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/7x5e-2fxh">here</a>
            </p>

        </div>
        <div class="col-md-6">

            <h6 class="display-6">Sustainability Reports: </h6>
            <div class="row" style="margin-bottom: 5px; padding-right: 5px">
                <button type="button" class="btn btn-info btn-lg btn-block">LEED Dashboard</button>
            </div>
            <div class="row" style="padding-right: 5px">
                <div class="dropdown show" style="padding: 0px">
                    <a class="btn btn-info btn-lg btn-block dropdown-toggle" style="width: 100%; margin-left: 0px; margin-right: 0px; padding-right: 0px" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compare your Building
                    </a>

                    <div class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Similar Size</a>
                        <a class="dropdown-item" href="#">Similar Usage</a>
                        <a class="dropdown-item" href="#">Similar Neighborhood</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock content %}