{% extends 'dashboard/base.html' %}

{% block content %}

    <h1 class="display-2">New York City Acropolis (Beta)</h1>
    <h2 class=" text text-muted">Use our tool to improve your building's sustainability and see where you rank compared
        to others</h2>
    <hr class="my-4">

    <h3 class="display-4">About Acropolis</h3>

    <p><b>What is Acropolis?</b></p>
    <p>Acropolis is a sustainability tool designed to see where your building matches up to similar buildings.
        Metrics that we use to determine our rankings are EnergySTAR Score, Natural Gas usage, Electricity usage, Water
        usage,
        and building carbon emissions.</p>
    <br>

    <p><b>Where does the data come from?</b></p>
    <p>All Data Acropolis uses is open data from New York City's website. The data is published annually and is required
        by law to be collected and published</p>
    <br>

    <p><b>How can I use Acropolis?</b></p>
    <p>Right now, our website has two primary features. You can look up a building on the 'Lookup tab' and see it how it
        matches up compared to others,
        or you can just see an absolute ranking of buildings on the 'Rankings' tab.</p>

{% endblock content %}