{% extends 'dashboard/base.html' %}

{% block content %}

    <h3 class="display-3">Search your building by address:</h3>

    <label for="addressSearch">
        <input type="text" class="addressSearch">
    </label>

    <script>

        $('.addressSearch').keyup(updateCount)
                            .keydown(updateCount);
        let cs = 0

        function updateCount() {
            cs = $(this).val().length;

            $('#characters').text(cs)

            if(cs > 3) {


                fetch()
            }

        }

        console.log(cs)
    </script>
{% endblock content %}

